*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

#squares {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

#squares > div {
  text-align: center;
}

#squares .tile {
  border: 1px solid #000;
  width: 3.125rem;
  height: 3.125rem;
}

#squares .tile:hover {
  border: 3px solid #000;
  cursor: pointer;
}

#square p,
#totalClicks {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: darkblue;
}

#squares p {
  font-size: 1rem;
}

#totalClicks {
  margin-left: 10px;
  font-size: 1.2rem;
}

#reset {
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 1rem;
  padding: 7px 20px;
  background-color: #000;
  color: #fff;
  transition: all 0.3s;
}

#reset:hover {
  border-color: #000;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
